* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  color: #222831;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;

  overflow: hidden;
}

.color {
  min-height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.color h2 {
  font-size: 2.5rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  padding: 1.5rem;
  width: 75%;
  background-color: white;
  opacity: 0;
  font-size: 1.3rem;
  outline: none;

  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: all 0.6s ease-out;
  transform: translateY(100px);
}

.sliders span {
  padding-left: 0.6rem;
}

.sliders.active-sld {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
}

.controls {
  display: flex;
  flex-direction: row;
}

.adjust,
.lock {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  border: none;
  outline: none;
  background: none;
  margin: 1rem;
  cursor: pointer;
}

.panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}

.panel button {
  margin: 1rem;
  padding: 1rem 1.5rem;
  background-color: #204051;
  color: #e4e3e3;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.save-panel,
.generate-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: relative;
  margin: 1rem 0rem;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}

.copy-container {
  position: fixed;

  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  background: rgb(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  align-items: center;

  opacity: 0;
  pointer-events: none;
}

.copy-popup {
  background: white;
  height: 15%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

  border: tomato;
  border-style: inset;

  transition: transform 0.7s ease-out;
  transform: translateY(-2rem);
}

.activate {
  opacity: 1;
  pointer-events: all;
}

.active {
  transform: translateY(0rem);
}
